MONGO_USERNAME=mongouser
MONGO_PASSWORD=mongopass
MONGO_DB=triangle
MONGO_HOST=mongodb
# Used by the Rust main.rs
SIMULATION_URL=http://simulation:8000/signal
VITE_SIMULATION_BASE=/api/simulation
VITE_SIGNAL_SOURCE_BASE=/api/signals
VITE_LOCATOR_BASE=/api/locator

# Datadog API key
DD_API_KEY=
DD_SITE=us5.datadoghq.com
